<nav class="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/search">Search Books</a></li>
  </ul>
  <div class="auth-buttons">
    {{#if username}}
    <a href="/profile">Profile ({{username}})</a>
    <a href="/logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  {{/if}}
  </div>
</nav>