body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  .navbar {
    background-color: #333;
    padding: 1em;
    text-align: center;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  /* WELCOME */
  .welcome-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .welcome-section h1 {
    font-size: 2.5em;
    color: #4a90e2;
  }
  
  .welcome-section p {
    font-size: 1.2em;
    color: #666;
  }
  
/* SEARCH */
.search-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-section h2 {
  font-size: 2em;
  color: #4a90e2;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.search-input {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
  max-width: 100%;
}

.genre-dropdown {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #357ab7;
}

#results {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.book-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* 404 */
.error-block {
  text-align: center;
}

.error-block h1 {
  font-size: 136px;
  margin-top: 50px;
  margin-bottom: 0;
}

.error-block h2 {
  font-size: 32px;
  margin: 0;
}

/* Authentication */
.auth-buttons {
  position: absolute;
  top: 15px;
  right: 20px;
}

.auth-buttons a {
  background-color: #4a90e2;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.auth-buttons a:hover {
  background-color: #357ab7;
}

.register-btn {
  background-color: #6a5acd; /* A soft purple to complement the blue */
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.register-btn:hover {
  background-color: #483d8b;
}

/* Errors */
.error -message {
  color:red;
  font-weight: bold;
}