<h2 class="profile-welcome">Welcome, {{username}}</h2>
<div class="profile-container">
    <div class="account-info-box">
        <h3>Account Information</h3>
        <div class="account-info-box">
            <div class="account-details">
                <label>Username:</label>
                <p>{{username}}</p>
            </div>
            <div class="account-details">
                <label>Books Read</label>
                <p>47</p>
            </div>
            <div class="account-details">
                <label>Label 3</label>
                <p>Content 3</p>
            </div>
            <div class="account-details">
                <label>Label 4</label>
                <p>Content 4</p>
            </div>
        </div>
    </div>
    <div class="account-info-box">
        <p>Box 2</p>
    </div>
    <div class="account-info-box">
        <p>Box 3</p>
    </div>
</div>