<section class="search-section">
  <h2>Search for Books</h2>
  <form action="#" method="get" class="search-form" id="search-form">
    <input type="text" name="title" placeholder="Title" class="search-input" id="title-search-input">
    <input type="text" name="author" placeholder="Author" class="search-input" id="author-search-input">
    {{!-- <select name="genre" class="genre-dropdown">
      {{#each genres}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select> --}}
    <button type="submit" class="search-button">Search</button>
  </form>
</section>

<div id="results"></div>

<script src="scripts/search.js"></script>